@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=NTR&family=Noto+Serif:ital,wght@0,700;1,400&display=swap");

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0c0c0d;
}

h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  text-align: center;
  margin-top: 32px;
}

h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
}

h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3.h3-bloon {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0em;
}

h4 {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

span.bold {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

span.bold-souligné {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

span.noto {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

div.shadow-1,
div.shadow-2,
div.shadow-3,
div.shadow-4,
div.shadow-5 {
  position: absolute;
  min-width: 375px;
  max-width: 1520px;
  height: 50px;
  left: 0px;
  opacity: 0.3;
  box-shadow: 0px 10px 10px rgba(34, 34, 40, 0.25);
}

div.shadow-1 {
  top: 593px;
}

div.shadow-2 {
  top: 1023px;
}

div.shadow-3 {
  top: 1651px;
}

div.shadow-4 {
  top: 2505px;
}

div.shadow-5 {
  top: 3196px;
}

/* Section 1 */

section.section-1 {
  margin: 0px 77px 0px 77px;
}

div.logos-slogan-campagne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div.logos {
  display: flex;
  align-items: center;
  width: 520px;
  justify-content: space-around;
  margin-top: 30px;
}

img.logo-bobochic {
  width: 240px;
  height: 59px;
  left: 0px;
  top: 0px;
}

span {
  font-family: "NTR", sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
}

img.logo-bloon {
  width: 164px;
}

p.slogan {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 10px;
}

div.gif-texte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1212px;
}

img.gif-balloon {
  width: 1212px;
  height: 303px;
  left: 76px;
  top: 314px;
  border-radius: 10px;
  margin-top: 20px;
  background-image: url(./ressources/Bobochic_x_Tour_Eiffel_2_1.svg);
}

p.section-1-sous-titre {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

/* Fin Section 1 */

/* Section 2 */

section.section-2 {
  margin-top: 120px;
  height: 320px;
}

div.section-2-texte {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p.section-2-petit-texte {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
  width: 555px;
  text-align: center;
}

div.imgs-personnes {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.personnes {
  width: 71px;
  height: 71px;
  margin: 31px 28px;
}

/* Fin Section 2 */

/* Section 3 */

div.pres-produit {
  display: flex;
}

img.gros-balloon {
  width: 946px;
  height: 628px;
}

p.section-paragraphe {
  position: absolute;
  width: 381px;
  height: 168px;
  left: 772.75px;
  top: 1280.13px;
}

/* Fin Section 3*/

/* Section 4 */

section.section-4 {
  height: 854px;
}

div.paragraphes-imgs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.paragraphe-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 77px;
  margin-left: 77px;
}

p.section-4-paragraphe,
p.section-4-paragraphe-2 {
  width: 529px;
}

p.section-4-paragraphe {
  left: 76px;
  top: 1896px;
  text-align: right;
}

p.section-4-paragraphe-2 {
  left: 759.75px;
  top: 2380.13px;
  text-align: left;
  margin-top: 5px;
}

img.balloon-decor,
img.balloon-decor-2 {
  width: 606px;
  height: 427px;
}

img.balloon-decor {
  left: 682px;
  top: 1836px;
}

img.balloon-decor-2 {
  left: 77px;
  top: 2263px;
}

/* Fin Section 4 */

/* Section 5 */

section.section-5 {
  display: flex;
  flex-direction: column;
  height: 584px;
  margin: 30px 77px 0px 79px;
}

h2.titre-produits {
  margin-top: 60px;
  width: 604px;
  height: 70px;
  left: 79px;
  top: 2750px;
}

/* Slider */

.bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  text-indent: none;
  display: none;
  width: none;
  height: none;
  margin: none;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.produits {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 27px;
}

div.btn-hearts,
div.btn-paniers {
  position: absolute;
  display: flex;
  width: 1034px;
  margin-left: 314px;
  justify-content: space-between;
}

div.btn-hearts {
  margin-top: 7px;
}

div.btn-paniers {
  margin-top: 223px;
}

button.btn-heart-1,
button.btn-heart-2,
button.btn-heart-3,
button.btn-panier-1,
button.btn-panier-2,
button.btn-panier-3 {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: none;
  background-color: #ffff;
}

img.wishlist-1,
img.wishlist-2,
img.wishlist-3,
img.panier-1,
img.panier-2,
img.panier-3 {
  width: 24px;
  height: 24px;
}

img.wishlist-1,
img.wishlist-2,
img.wishlist-3,
img.panier-1,
img.panier-2,
img.panier-3 {
  position: relative;
  left: -2px;
  top: 1px;
}

div.produit {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

img.article,
img.article-2,
img.article-3 {
  height: 217px;
  width: 364px;
  border-radius: 10px;
}

img.article {
  background-image: url(./ressources/canap_bella.svg);
}

img.article-2 {
  background-image: url(./ressources/canap_lilly.svg);
}
div.informations {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

p.nom-produit {
  text-align: center;
  margin: 5px 0px;
}

p.prix,
p.couleurs,
button.btn-couleurs {
  width: 123px;
  height: 27px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #ffff;
  border: none;
  text-align: center;
}

div.btn-couleurs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 20px;
  border-color: #0c0c0d;
}

button.btn-couleur-1,
button.btn-couleur-2,
button.btn-couleur-3,
button.btn-couleur-4 {
  display: none;
}

p.couleurs:hover {
  display: none;
}
div.btn-couleurs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 20px;
}
button.btn-couleur-1,
button.btn-couleur-2,
button.btn-couleur-3,
button.btn-couleur-4 {
  display: contents;
}

/* Fin Section 5*/

/* Section 6 */

section.section-6 {
  background: #f9f9f9;
  height: 184px;
  margin-top: 76px;
}

div.reassurances {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.reassurance {
  max-width: 157px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

img.icon {
  width: 24px;
  height: auto;
}

p.reassurance-texte {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 8px 0px;
}

/* Fin Section 6 */

/* Mobile */

@media screen and (max-width: 376px) {
  h1 {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 35px;
    width: 325px;
  }

  h2 {
    font-family: "Jost", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    width: 325px;
  }

  h2.titre-produits {
    text-align: left;
    width: 325px;
    height: 140px;
  }

  h3 {
    font-family: "Noto", serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
  }

  div.shadow-1 {
    top: 829px;
  }

  div.shadow-2 {
    position: absolute;
    top: 1201px;
  }

  div.shadow-3 {
    top: -39px;
  }

  div.shadow-4 {
    top: 10px;
  }

  div.shadow-5 {
    top: 3355px;
    width: 376px;
    margin: 0px;
  }

  /* Section 1*/

  section.section-1 {
  }

  div.logos {
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  div.gif-texte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 325px;
  }

  img.gif-balloon {
    width: 324px;
    height: 183px;
    background: url(./ressources/Bobochic_x_Tour_Eiffel_2_1.svg);
  }

  /* Fin Section 1 */

  /* Section 2*/

  div.section-2-texte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 325px;
    margin: auto;
  }

  p.section-2-petit-texte {
    width: 325px;
  }

  /* Fin Section 2 */

  /* Section 3 */

  div.pres-produit {
    width: 325px;
  }

  img.gros-balloon {
    position: absolute;
    width: 703.47px;
    height: 467px;
    left: -307px;
  }

  p.section-paragraphe {
    position: absolute;
    width: 161px;
    height: 384px;
    left: 188px;
  }
  /* Fin Section 3 */

  /* Section 4 */

  section.section-4 {
    position: absolute;
    top: 1707px;
  }

  p.section-4-paragraphe,
  p.section-4-paragraphe-2 {
    width: 325px;
    text-align: center;
  }

  div.paragraphe-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 49px 26px 0px 27px;
  }

  img.balloon-decor,
  img.balloon-decor-2 {
    width: 325px;
    height: 230px;
  }
  /* Fin Section 4 */

  /* Section 5 */

  div.btn-hearts,
  div.btn-paniers {
    display: none;
  }

  section.section-5 {
    width: 325px;
    position: absolute;
    top: 2800px;
    margin: 36px 26px 0px 27px;
  }

  div.produit {
    margin-right: 35px;
  }

  img.article,
  img.article-2,
  img.article-3 {
    height: 115px;
    width: 194px;
    border-radius: 10px;
  }

  img.article {
    background-image: url(./ressources/rectangle_106.svg);
  }

  img.article-2 {
    background-image: url(./ressources/rectangle-107.svg);
  }

  /* Slider */

  div.slider {
    scroll-padding: 0 20px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scrollbar-color: none;
  }

  /* Fin Section 5 */

  /* Section 6 */

  section.section-6 {
    background-color: #f9f9f9;
    margin: 67px 0px 0px 27px;
  }

  div.reassurances {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 3412px;
    width: 325px;
    height: 300px;
  }

  div.reassurance-mobile {
    display: none;
  }

  /* Fin Section 6 */
}
