@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=NTR&display=swap");

.root {
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  text-align: center;
  margin-top: 32px;
}

h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
}

h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Section 1 */

div.logos-slogan-campagne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div.logos {
  display: flex;
  align-items: center;
  width: 520px;
  justify-content: space-around;
  margin-top: 30px;
}

img.logo-bobochic {
  position: static;
  width: 240px;
  height: 59px;
  left: 0px;
  top: 0px;
}

span {
  font-family: "NTR", sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
}

img.logo-bloon {
  position: static;
  width: 164px;
}

p.slogan {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 10px;
}

div.gif-texte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1212px;
}

img.gif-balloon {
  width: 1212px;
  height: 303px;
  left: 76px;
  top: 314px;
  border-radius: 10px;
  margin-top: 20px;
}

p.section-1-sous-titre {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

/* Fin Section 1 */

/* Section 2 */

section.section-2 {
  margin-top: 120px;
  height: 320px;
}

div.section-2-texte {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p.section-2-petit-texte {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
  width: 555px;
  text-align: center;
}

div.imgs-personnes {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.personnes {
  width: 71px;
  height: 71px;
  margin: 31px 28px;
}

/* Fin Section 2 */

/* Section 3 */

div.pres-produit {
  display: flex;
}

img.gros-balloon {
  width: 946px;
  height: 628px;
}

p.section-paragraphe {
  position: absolute;
  width: 381px;
  height: 168px;
  left: 772.75px;
  top: 1280.13px;
}

/* Fin Section 3*/

/* Section 4 */

section.section-4 {
  height: 854px;
}

div.paragraphes-imgs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.paragraphe-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 77px;
  margin-left: 77px;
}

p.section-4-paragraphe,
p.section-4-paragraphe-2 {
  width: 529px;
}

p.section-4-paragraphe {
  left: 76px;
  top: 1896px;
  text-align: right;
}

p.section-4-paragraphe-2 {
  left: 759.75px;
  top: 2380.13px;
  text-align: left;
  margin-top: 5px;
}

img.balloon-decor,
img.balloon-decor-2 {
  width: 606px;
  height: 427px;
}

img.balloon-decor {
  left: 682px;
  top: 1836px;
}

img.balloon-decor-2 {
  left: 77px;
  top: 2263px;
}

/* Fin Section 4 */

/* Section 5 */

section.section-5 {
  display: flex;
  flex-direction: column;
  height: 584px;
  margin: 30px 77px 0px 79px;
}

h2.titre-produits {
  margin-top: 60px;
  width: 604px;
  height: 70px;
  left: 79px;
  top: 2750px;
}

div.produits {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 27px;
}

div.btn-hearts,
div.btn-paniers {
  position: absolute;
  display: flex;
  width: 1034px;
  margin-left: 314px;
  justify-content: space-between;
}

div.btn-hearts {
  margin-top: 7px;
}

div.btn-paniers {
  margin-top: 223px;
}

button.btn-heart-1,
button.btn-heart-2,
button.btn-heart-3,
button.btn-panier-1,
button.btn-panier-2,
button.btn-panier-3 {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: none;
  background-color: #ffff;
}

img.wishlist-1,
img.wishlist-2,
img.wishlist-3,
img.panier-1,
img.panier-2,
img.panier-3 {
  width: 24px;
  height: 24px;
}

img.wishlist-1,
img.wishlist-2,
img.wishlist-3,
img.panier-1,
img.panier-2,
img.panier-3 {
  position: relative;
  left: -2px;
  top: 1px;
}

div.produit {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

img.article {
  height: 217px;
  width: 364px;
  border-radius: 10px;
}

div.informations {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

p.nom-produit {
  text-align: center;
  margin: 5px 0px;
}

p.prix,
p.couleurs {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Fin Section 5*/

/* Section 6 */

section.section-6 {
  background: #f9f9f9;
  height: 184px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 76px;
}

div.reassurance {
  max-width: 157px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

img.icon {
  width: 24px;
  height: auto;
}

p.reassurance-texte {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 8px 0px;
}

/* FIn Section 6 */
